.example-container {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    -ms-overflow-style: none;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 227px;
    background: #333;
    padding: 10px;
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .side-list{
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
  }

  .list-divider{
    background-color:#121212; 
    color:lightgray;
  }
  .list-item{
      color: white;
  }
  .list-item a{
      text-decoration: none;
      color: white;
  }
  .list-font{
      color: white!important;
  }
  .list-expansion{
    background-color:#333; 
    color:white;
  }
  .list-expansion:hover{
    background-color: #292929;
  }
  :host ::ng-deep .mat-expansion-indicator:after{
      color: #3f51B5;
  }

  .mat-list-item:hover{
      background-color: #292929;
  }

  .list-divider .divider-btn {
      float: right;
  }

.hamburger{
    min-width:30px;
    width:40px;
    padding: 0;
    color: white;
}