<mat-toolbar style="height: 100px;background-color:#C3003C;" class="mat-elevation-z6">
    <button class="hamburger mat-button" mat-button="" title="Side menu" (click)="sidenav.toggle()">
        <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24">
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
        </mat-icon>
    </button>
    <img src="../../assets/images/lg.png" width="80" height="80" alt="" style="cursor:pointer">
    <h1 class="mat-display-1" style="width:150px; display: inline-block; font-size:1.4em;color:white">TMS</h1>
    <div style="color:white">
        <a mat-button [matMenuTriggerFor]="menu">My Work
            <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item [routerLink]="['logeffort']">Log Effort</button>
            <button mat-menu-item>Approval</button>
            <button mat-menu-item>My Project List</button>
        </mat-menu>
        <a mat-button>Report</a>
        <a mat-button>Monitoring</a>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav" [fixedInViewport]="fixed" [fixedTopGap]="0" [fixedBottomGap]="0">
        <mat-list class="side-list">
            <div mat-subheader class="list-divider" style="padding-top:4px;">
                <h6 style="position: inline-block; color:lightgray;font-size: 14px;font-weight: 500;">PROFILE</h6>
                <span fxFlex></span>
                <button mat-button color="accent" style="min-width:auto; margin-top:8px;" (click)="openDialog()" >edit</button>
            </div>
            <mat-list-item class="list-item">
                <img matListAvatar src="../../assets/images/men.jpg" alt="men">
                <h4 mat-line> {{employee.empInfo.empName}} </h4>
                <p mat-line> {{employee.empInfo.empId}} </p>
            </mat-list-item>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">code</mat-icon>
                <h4 mat-line>{{employee.skill.primarySkillLevelOne}}</h4>
                <p mat-line>Primary Skill</p>
            </mat-list-item>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">code</mat-icon>
                <h4 mat-line>{{employee.skill.secondarySkillLevelOne}}</h4>
                <p mat-line>Secondary Skill</p>
            </mat-list-item>
            <!-- <mat-accordion>
                <mat-expansion-panel class="list-expansion">
                    <mat-expansion-panel-header>
                        Primary Skill
                    </mat-expansion-panel-header>
                    Skill Set
                </mat-expansion-panel>
                <mat-expansion-panel class="list-expansion">
                    <mat-expansion-panel-header>
                        Secondary Skill
                    </mat-expansion-panel-header>
                    Skill Set
                </mat-expansion-panel>
            </mat-accordion> -->

            <mat-divider></mat-divider>
            <h6 mat-subheader class="list-divider">CALENDAR</h6>
            <tms-calendar></tms-calendar>
            <mat-divider></mat-divider>
            <h6 mat-subheader class="list-divider">MORE</h6>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">help_outline</mat-icon>
                <a matLine href="">FAQ</a>
            </mat-list-item>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">info_outline</mat-icon>
                <a matLine href="">Help</a>
            </mat-list-item>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">book</mat-icon>
                <a matLine href="">Manual</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- <p >
            <button mat-button (click)="sidenav.toggle()">Toggle</button>
        </p> -->
        <router-outlet></router-outlet>


    </mat-sidenav-content>
</mat-sidenav-container>