.example-container {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    background: #333;
  }

  .side-list{
      padding-top: 0;
  }
  /* .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  } overide with .list-font */

  .list-divider{
    background-color:#121212; 
    color:lightgray;
  }
  .list-item{
      color: white;
  }
  .list-item a{
      text-decoration: none;
      color: white;
  }
  .list-font{
      color: white!important;
  }
  .list-expansion{
    background-color:#333; 
    color:white;
  }
  .list-expansion:hover{
    background-color: #292929;
  }
  :host /deep/ .mat-expansion-indicator:after{
      color: white!important;
  }

  .mat-list-item:hover{
      background-color: #292929;
  }

  .list-divider .divider-btn {
      float: right;
  }
  .navigation.navigation-prev {
    left: 0;
}
.navigation.navigation-next {
    right: 0;
}
.navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    max-width: 120px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 40px;
    color: #ccc!important;
    text-align: center;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

.navigation:hover, .navigation-prev:hover, .navigation-next:hover a{
    color: #C3003C!important;
    background: rgba(0,0,0,.04);
    cursor: pointer;
}
  