<mat-toolbar style="height: 100px;background-color:#C3003C;z-index:99;" class="mat-elevation-z10">
    <img src="../../assets/images/lg.png" width="80" height="80" alt="" (click)="sidenav.toggle()" style="cursor:pointer">
    <h1 class="mat-display-1" style="width:150px; display: inline-block; font-size:1.4em;color:white">TMS</h1>
    <div style="color:white">
        <a mat-button [matMenuTriggerFor]="menu">My Work
            <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>Log Effort</button>
            <button mat-menu-item>Approval</button>
            <button mat-menu-item>My Project List</button>
        </mat-menu>
        <a mat-button>Report</a>
        <a mat-button>Monitoring</a>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav" [fixedInViewport]="fixed" [fixedTopGap]="0" [fixedBottomGap]="0">
        <mat-list class="side-list">
            <h6 mat-subheader class="list-divider">PROFILE</h6>
            <!-- <span class="divider-btn"><button mat-button color="accent">edit</button></span> -->
            <mat-list-item class="list-item">
                <img matListAvatar src="../../assets/images/men.jpg" alt="men">
                <h4 mat-line>Marissa Kolkar</h4>
                <p mat-line> SI004641 </p>
            </mat-list-item>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">code</mat-icon>
                <h4 mat-line>TypeScript</h4>
                <p mat-line>Primary Skill</p>
            </mat-list-item>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">code</mat-icon>
                <h4 mat-line>Android</h4>
                <p mat-line>Secondary Skill</p>
            </mat-list-item>
            <!-- <mat-accordion>
                <mat-expansion-panel class="list-expansion">
                    <mat-expansion-panel-header>
                        Primary Skill
                    </mat-expansion-panel-header>
                    Skill Set
                </mat-expansion-panel>
                <mat-expansion-panel class="list-expansion">
                    <mat-expansion-panel-header>
                        Secondary Skill
                    </mat-expansion-panel-header>
                    Skill Set
                </mat-expansion-panel>
            </mat-accordion> -->

            <mat-divider></mat-divider>
            <h6 mat-subheader class="list-divider">CALENDAR</h6>
            <tms-calendar></tms-calendar>
            <mat-divider></mat-divider>
            <h6 mat-subheader class="list-divider">MORE</h6>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">help_outline</mat-icon>
                <a matLine href="">FAQ</a>
            </mat-list-item>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">info_outline</mat-icon>
                <a matLine href="">Help</a>
            </mat-list-item>
            <mat-list-item class="list-item">
                <mat-icon mat-list-icon class="list-font">book</mat-icon>
                <a matLine href="">Manual</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- <p >
            <button mat-button (click)="sidenav.toggle()">Toggle</button>
        </p> -->
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="background-color:aliceblue">
            <!-- <a fxFlex="5%">prev</a> -->
            <div fxFlex="90%">
                <mat-tab-group>
                    <mat-tab label="Tab 1">Content 1</mat-tab>
                    <mat-tab label="Tab 2">Content 2</mat-tab>
                    <mat-tab label="Tab 3">Content 3</mat-tab>
                    <mat-tab label="Tab 4">Content 4</mat-tab>
                    <mat-tab label="Tab 5">Content 5</mat-tab>
                    <mat-tab label="Tab 6">Content 6</mat-tab>
                    <!-- <mat-tab label="Tab 7">Content 7</mat-tab> -->
                </mat-tab-group>
            </div>
            <!-- <a fxFlex="5%">next</a> -->
            <a class="navigation navigation-prev " aria-label="Previous page: this">
                <span><mat-icon>chevron_left</mat-icon></span>
                <span style="font-size:0.3em;">Prev</span>
            </a>
            <a class="navigation navigation-next " aria-label="Next page: Number">
                <span><mat-icon>chevron_right</mat-icon></span>
                <span style="font-size:0.3em;">Next</span>
            </a>
        </div>
        
        
    </mat-sidenav-content>
</mat-sidenav-container>