<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="center" style="background-color:transparent; margin-top:40px;">
    <!-- <a fxFlex="5%">prev</a> -->
    <div fxFlex="90%">
        <mat-tab-group>
            <mat-tab *ngFor="let logeffort of logefforts.effort" label={{logeffort.date.toDateString().slice(0,10)}}>
                <!-- background-color:rgba(0,0,0,.04); use it if needed for the tab background -->
                <div class="container" style="text-align:center; padding:10px; overflow-y:auto" [style.height.px]="windowheight">
                    <h4 style="text-align: right!important; padding: 0; margin:0; color:#C3003C;">IRIS TIME {{logeffort.irisTime}}</h4>
                    <!-- submitted/saved state instance -->
                    <div *ngIf="logeffort.isSubmitted; else editable">
                        <mat-grid-list cols="3" rowHeight="200px" role="list">
                            <mat-grid-tile *ngFor="let model of logeffort.timeSheet" style="background-color: aqua;" role="listitem">
                                <mat-card class="tile-card">
                                    <mat-card-subtitle style="padding:4px 0 0 4px;text-align:left;background-color:lightgray;">
                                        <mat-form-field>
                                            <mat-select  value={{model.projectName}} disabled>
                                                <mat-option *ngFor="let project of projects" [value]="project.value">
                                                    {{ project.viewValue }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card-subtitle>
                                    <mat-card-content>
                                        <div style="text-align: center;" *ngFor="let projectJobTask of model.jobTask">
                                            <!-- <mat-radio-group disabled>
                                                <mat-radio-button [checked]="projectJobTask.isPrimarySkill ===true" [value]="projectJobTask.isPrimarySkill">Primary Skill</mat-radio-button>
                                                <mat-radio-button [checked]="projectJobTask.isSecondarySkill ===true" [value]="projectJobTask.isSecondarySkill" style="margin-left:2em;">Secondary Skill</mat-radio-button>
                                            </mat-radio-group> -->
                                            <mat-form-field style=" width:100px">
                                                    <mat-select  class="project-select" value="Primary Skill" disabled>
                                                        <mat-option value="Primary Skill">Primary Skill</mat-option>
                                                        <mat-option value="Secondary Skill">Secondary Skill</mat-option>>
                                                    </mat-select>
                                                </mat-form-field>
                                            <mat-form-field style="margin-left:2em; width:100px">
                                                <mat-select class="project-select" value={{projectJobTask.jobTaskName}} disabled>
                                                    <mat-option *ngFor="let task of tasks" [value]="task.value">
                                                        {{ task.viewValue }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field style="margin-left:2em; width:30px">
                                                <input matInput  type="text" class="without" [(ngModel)]="projectJobTask.time" style="color:#C3003C!important;"
                                                    disabled>
                                            </mat-form-field>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <ng-template #editable>
                        <!-- check for the timesheet data,
                            whether the employee has filled in the timesheet,
                            or, is it the current date? -->
                        <mat-card style="padding: 0; margin-top:10px;">
                            editable
                        </mat-card>
                    </ng-template>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- <a fxFlex="5%">next</a> -->
    <a class="navigation navigation-prev " aria-label="Previous page: this">
        <span>
            <mat-icon>chevron_left</mat-icon>
        </span>
        <span style="font-size:0.3em;">Prev</span>
    </a>
    <a class="navigation navigation-next " aria-label="Next page: Number">
        <span>
            <mat-icon>chevron_right</mat-icon>
        </span>
        <span style="font-size:0.3em;">Next</span>
    </a>
</div>