<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="background-color:transparent; margin-top:40px;">
    <!-- <a fxFlex="5%">prev</a> -->
    <div fxFlex="90%">
        <mat-tab-group>
            <mat-tab label="Sunday">Sunday</mat-tab>
            <mat-tab label="Monday">Monday</mat-tab>
            <mat-tab label="Tuesday">Tuesday</mat-tab>
            <mat-tab label="Wednesday">Wednesday</mat-tab>
            <mat-tab label="Thursday">Thursday</mat-tab>
            <mat-tab label="Friday">Friday</mat-tab>
            <mat-tab label="Saturday">Saturday</mat-tab>
        </mat-tab-group>
    </div>
    <!-- <a fxFlex="5%">next</a> -->
    <a class="navigation navigation-prev " aria-label="Previous page: this">
        <span>
            <mat-icon>chevron_left</mat-icon>
        </span>
        <span style="font-size:0.3em;">Prev</span>
    </a>
    <a class="navigation navigation-next " aria-label="Next page: Number">
        <span>
            <mat-icon>chevron_right</mat-icon>
        </span>
        <span style="font-size:0.3em;">Next</span>
    </a>
</div>