<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="center" style="background-color:transparent; margin-top:40px;">
    <!-- <a fxFlex="5%">prev</a> -->
    <div fxFlex="90%">
        <mat-tab-group>
            <mat-tab *ngFor="let logeffort of logefforts.effort" label={{logeffort.date.toDateString().slice(0,10)}}>
                <!-- background-color:rgba(0,0,0,.04); use it if needed for the tab background -->
                <div class="container" style="text-align:center; padding:10px; overflow-y:auto" [style.height.px]="windowheight">
                    <h4 style="text-align: right!important; padding: 0; margin:0; color:#C3003C;">IRIS TIME {{logeffort.irisTime}}</h4>
                    <!-- submitted/saved state instance -->
                    <div *ngIf="logeffort.isSubmitted; else editable">
                        <mat-card>
                            <mat-grid-list cols="5" rowHeight="69px" style="margin: 0 auto;">
                                <mat-grid-tile colspan='1' style="background-color: thistle;" role="listitem">
                                    <mat-form-field style="width:auto">
                                        <mat-select placeholder="Project List" [(value)]="projectName" (change)="disableOption($event)">
                                            <mat-option *ngFor="let project of projects" [value]="project.value">
                                                {{ project.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile colspan='1' style="background-color: thistle;" role="listitem">
                                    <mat-form-field style="width:auto">
                                        <mat-select placeholder="Skill Set" [disabled]="disableSelect" [(value)]="skillSet" >
                                            <mat-option value="primary">Primary Skill</mat-option>
                                            <mat-option value="secondary">Secondary Skill</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile colspan='1' style="background-color:thistle;" role="listitem">
                                    <mat-form-field style="width:auto">
                                        <mat-select placeholder="Task List" [(value)]="taskName">
                                            <div *ngIf="projectName === 'Common'; else projectTaskOptions">
                                                <mat-option *ngFor="let cTask of commonTasks" [value]="cTask.value">
                                                    {{ cTask.viewValue }}
                                                </mat-option>
                                            </div>
                                            <ng-template #projectTaskOptions>
                                                <mat-option *ngFor="let pTask of projectTasks" [value]="pTask.value">
                                                    {{ pTask.viewValue }}
                                                </mat-option>
                                            </ng-template>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile colspan='1' style="background-color: thistle;" role="listitem">
                                    <mat-form-field style="width:80px;">
                                        <input matInput type="time" class="without" placeholder="Time" [(ngModel)]="time.value"  [value]="time.value" (change)="getTime($event)">
                                    </mat-form-field>
                                    <p>t is{{time.value}}</p>
                                </mat-grid-tile>
                                <mat-grid-tile colspan='1' style="background-color: thistle;" role="listitem">
                                    <div class="button-row">
                                        <button mat-button color="primary" (click)="addUserData()">
                                            <mat-icon mat-list-icon>add</mat-icon>
                                        </button>
                                        <button mat-button color="warn">
                                            <mat-icon mat-list-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list cols="5" rowHeight="40px" style="margin: 0 auto;">
                                <mat-grid-tile colspan='1' style="background-color: thistle;" role="listitem">
                                    <mat-form-field style="width:auto">
                                        <mat-select>
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            <mat-option value="option3">Option 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile colspan='1' style="background-color: thistle;" role="listitem">
                                    <mat-form-field style="width:auto">
                                        <mat-select>
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile colspan='1' style="background-color:thistle;" role="listitem">
                                    <mat-form-field style="width:auto">
                                        <mat-select>
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            <mat-option value="option3">Option 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile colspan='1' style="background-color: thistle;" role="listitem">
                                    <mat-form-field style="width:auto;">
                                        <input matInput type="time" class="without">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile colspan='1' style="background-color: thistle;" role="listitem">
                                    <div class="button-row">
                                        <button mat-button color="primary">
                                            <mat-icon mat-list-icon>add</mat-icon>
                                        </button>
                                        <button mat-button color="warn">
                                            <mat-icon mat-list-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <!-- <mat-card-actions style="text-align: right">
                                <button mat-raised-button color="basic">SAVE</button>
                                <button mat-raised-button color="primary">SUBMIT</button>
                            </mat-card-actions> -->
                            <!-- <mat-card-footer style="background-color: rgba(0,0,0,.04); height: 40px; margin-top: 10px; text-align: center">
                                Summary
                            </mat-card-footer> -->

                        </mat-card>
                    </div>
                    <ng-template #editable>
                        <!-- check for the timesheet data,
                            whether the employee has filled in the timesheet,
                            or, is it the current date? -->
                        <mat-card style="padding: 0; margin-top:10px;">
                            editable
                        </mat-card>
                    </ng-template>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- <a fxFlex="5%">next</a> -->
    <a class="navigation navigation-prev " aria-label="Previous page: this">
        <span>
            <mat-icon>chevron_left</mat-icon>
        </span>
        <span style="font-size:0.3em;">Prev</span>
    </a>
    <a class="navigation navigation-next " aria-label="Next page: Number">
        <span>
            <mat-icon>chevron_right</mat-icon>
        </span>
        <span style="font-size:0.3em;">Next</span>
    </a>
</div>