<h4 style="color:firebrick; text-align: center">Click to select/deselect from Active Projects to add to My Project List</h4>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center" style="background-color:transparent; margin-top:40px;">
	<div fxFlex="40%">
		<!-- <mat-card style="padding: 0; margin: 0">
			<mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
				<h4>Active projects</h4>
			</mat-card-header>
			<mat-card-content style="padding: 5px;">
				<ul style="display:flex; flex-wrap: wrap; list-style: none;">
					<li *ngFor="let project of activeProjects; let i = index;" style="padding: 4px;">
						<mat-card style="height: 30px; width: auto; display: flex;
								justify-content: center;
								align-items: center; padding: 4px;" (click)="addToFav(project)" [ngClass]="{'selected': project.selected}">
							<mat-card-header style="margin: 0px;">
								<mat-card-title style="margin: 0px; font-size: 1em; display: block;"> {{project.value}} </mat-card-title>
							</mat-card-header>
						</mat-card>
					</li>
				</ul>
			</mat-card-content>
		</mat-card> -->
		<mat-card *ngFor="let key of Object.keys(results);" style="padding: 0; margin-bottom: 20px" class="active">
				<mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
					<h4 style="margin: 10px;">{{key}}</h4>
				</mat-card-header>
				<mat-card-content style="padding: 5px;">
					<ul style="display:flex; flex-wrap: wrap; list-style: none;">
						<li *ngFor="let project of results[key];" style="padding: 4px;">
							<mat-card style="height: 30px; display: flex;
											justify-content: center;
											align-items: center; padding: 4px;" (click)="addToFav(project)" [ngClass]="{'selected': project.selected}" [style.width.px]="( project.project_name.split('').length >= 13 ? auto : 100)">
								<mat-card-header style="margin: 0px;">
									<mat-card-title style="margin: 0px; font-size: 1em; display: block;"> {{project.project_name}} </mat-card-title>
								</mat-card-header>
							</mat-card>
						</li>
					</ul>
				</mat-card-content>
			</mat-card>
	</div>
	<div fxFlex="40%" fxLayoutAlign=" stretch">
		<mat-card style="padding: 0; margin: 0; width:100%;">
			<mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
				<h4>My Project List</h4>
				<button mat-stroked-button style="position: absolute; right: 4px; top: 15px; color: #C3003C " *ngIf="favProjects.length"
				 (click)="saveFav()" class="save">SAVE</button>
			</mat-card-header>
			<mat-card-content style="padding: 5px;">
				<ul style="display:flex; flex-wrap: wrap; list-style: none;">
					<li *ngFor="let project of favProjects" style="padding: 4px;">
						<mat-card style="height: 30px; display: flex;
										justify-content: center;
										align-items: center; padding: 4px;" (click)="addToFav(project)" [ngClass]="{'selected': project.selected}" [style.width.px]="( project.project_name.split('').length >= 13 ? auto : 100)">
							<mat-card-header style="margin: 0px;">
								<mat-card-title style="margin: 0px; font-size: 1em; display: block;"> {{project.project_name}} </mat-card-title>
							</mat-card-header>
						</mat-card>
					</li>
				</ul>
			</mat-card-content>
		</mat-card>
		<!-- <button mat-raised-button style="background-color:rgba(0,0,0,.04);color: #3f51B5" *ngIf="favProjects.length">SAVE</button> -->
	</div>
</div>