<div class="container" style="text-align:center; padding:10px; overflow-y:auto; background-color: rgb(0, 0, 0, 0.04); height: 100%;">
	<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="center" style="padding:0; width:500px;margin:40px auto;background-color: transparent">
		<div fxFlex="30%" style=" background-color:transparent; display: flex;
        justify-content: center;
		align-items: center; padding:10px 0 10px 0;">
			<a routerLink="./logeffort">
				<img matListAvatar src="/TMS2/assets/img/lg.png" width="150" height="150" alt="logo">
			</a>
		</div>
		<div fxFlex="30%" style=" background-color:transparent; display: flex;
        justify-content: center;
		align-items: center; padding:10px 0 10px 0;">
			<h1 class="mat-display-1" style="font-size:1.8em;color:teal;padding-top: 50px">
				<span>v</span>{{version}}</h1>
		</div>

	</div>
	<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center" style="padding:0;background-color: transparent">
		<div fxFlex="40%" fxLayoutAlign=" stretch">
			<mat-card style="padding: 0; margin: 0; width:100%;">
				<mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
					<h4>Developers</h4>
				</mat-card-header>
				<mat-card-content style="padding: 5px;">
					<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center" style="padding:0;background-color: transparent">
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
									justify-content: center;
									align-items: center; padding:10px 0 10px 0;" id="f1_container">
							<div id="f1_card" class="shadow">
								<mat-card class="team-card front face">
									<mat-card-header>
										<div mat-card-avatar class="team-header-image-1"></div>
										<mat-card-title style="text-align: left">Chetan Lavti</mat-card-title>
										<mat-card-subtitle style="text-align: left">Program Manager</mat-card-subtitle>
									</mat-card-header>
								</mat-card>
								<mat-card class="team-card back face">
									<mat-card-content style="text-align: center; margin-top:20px;">
										<a href="https://www.linkedin.com/in/chetanlavti/" style="margin-right:20px" target="_blank">
											<img src="/TMS2/assets/img/in.png" width="32" height="32" alt="logo">
										</a>
										<a href="https://twitter.com/chetan_lavti" style="margin-left:20px" target="_blank">
											<img src="/TMS2/assets/img/tw.png" width="32" height="32" alt="logo">
										</a>
									</mat-card-content>
								</mat-card>
							</div>
						</div>
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
							justify-content: center;
							align-items: center; padding:10px 0 10px 0;" id="f1_container2">
							<div id="f1_card2" class="shadow">
								<mat-card class="team-card front face">
									<mat-card-header>
										<div mat-card-avatar class="team-header-image-4"></div>
										<mat-card-title style="text-align: left">Trupti Kulkarni</mat-card-title>
										<mat-card-subtitle style="text-align: left">Systems Analyst</mat-card-subtitle>
									</mat-card-header>
								</mat-card>
								<mat-card class="team-card back face">
									<mat-card-content style="text-align: center; margin-top:20px;">
										<a href="https://www.linkedin.com/in/trupti-k-52495332/" style="margin-right:20px" target="_blank">
											<img src="/TMS2/assets/img/in.png" width="32" height="32" alt="logo">
										</a>
										<a href="https://twitter.com/k_trupti" style="margin-left:20px" target="_blank">
											<img src="/TMS2/assets/img/tw.png" width="32" height="32" alt="logo">
										</a>
									</mat-card-content>
								</mat-card>
							</div>
						</div>
					</div>
					<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center" style="padding:0;background-color: transparent">
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
							justify-content: center;
							align-items: center; padding:10px 0 10px 0;" id="f1_container3">
							<div id="f1_card3" class="shadow">
								<mat-card class="team-card front face">
									<mat-card-header>
										<div mat-card-avatar class="team-header-image-2"></div>
										<mat-card-title style="text-align: left">Vijay Kumar NC</mat-card-title>
										<mat-card-subtitle style="text-align: left">Project Manager</mat-card-subtitle>
									</mat-card-header>
								</mat-card>
								<mat-card class="team-card back face">
									<mat-card-content style="text-align: center; margin-top:20px;">
										<a href="" style="margin-right:20px">
											<img src="/TMS2/assets/img/in.png" width="32" height="32" alt="logo">
										</a>
										<a href="" style="margin-left:20px">
											<img src="/TMS2/assets/img/tw.png" width="32" height="32" alt="logo">
										</a>
									</mat-card-content>
								</mat-card>
							</div>
						</div>
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
							justify-content: center;
							align-items: center; padding:10px 0 10px 0;" id="f1_container4">
							<div id="f1_card4" class="shadow">
								<mat-card class="team-card front face">
									<mat-card-header>
										<div mat-card-avatar class="team-header-image-5"></div>
										<mat-card-title style="text-align: left">Vishwa Kolkar</mat-card-title>
										<mat-card-subtitle style="text-align: left">Systems Analyst</mat-card-subtitle>
									</mat-card-header>
								</mat-card>
								<mat-card class="team-card back face">
									<mat-card-content style="text-align: center; margin-top:20px;">
										<a href="https://www.linkedin.com/in/vishwakolkar/" style="margin-right:20px" target="_blank">
											<img src="/TMS2/assets/img/in.png" width="32" height="32" alt="logo">
										</a>
										<a href="https://twitter.com/vishwakolkar" style="margin-left:20px" target="_blank">
											<img src="/TMS2/assets/img/tw.png" width="32" height="32" alt="logo">
										</a>
									</mat-card-content>
								</mat-card>
							</div>
						</div>
					</div>
					<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center" style="padding:0;background-color: transparent">
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
							justify-content: center;
							align-items: center; padding:10px 0 10px 0;" id="f1_container5">
							<div id="f1_card5" class="shadow">
								<mat-card class="team-card front face">
									<mat-card-header>
										<div mat-card-avatar class="team-header-image-3"></div>
										<mat-card-title style="text-align: left">Ramesh Kumar N</mat-card-title>
										<mat-card-subtitle style="text-align: left">Sr. Systems Analyst</mat-card-subtitle>
									</mat-card-header>
								</mat-card>
								<mat-card class="team-card back face">
									<mat-card-content style="text-align: center; margin-top:20px;">
										<a href="https://www.linkedin.com/in/ramesh-thunder-90475724/" style="margin-right:20px" target="_blank">
											<img src="/TMS2/assets/img/in.png" width="32" height="32" alt="logo">
										</a>
										<a href="https://www.facebook.com/profile.php?id=100000512352047" style="margin-left:20px" target="_blank">
											<img src="/TMS2/assets/img/fb.png" width="32" height="32" alt="logo">
										</a>
									</mat-card-content>
								</mat-card>
							</div>
						</div>
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
							justify-content: center;
							align-items: center; padding:10px 0 10px 0;" id="f1_container6">
							<div id="f1_card6" class="shadow">
								<mat-card class="team-card front face">
									<mat-card-header>
										<div mat-card-avatar class="team-header-image-6"></div>
										<mat-card-title style="text-align: left">Sajal Agarwal</mat-card-title>
										<mat-card-subtitle style="text-align: left">Sr. Software Engineer</mat-card-subtitle>
									</mat-card-header>
								</mat-card>
								<mat-card class="team-card back face">
									<mat-card-content style="text-align: center; margin-top:20px;">
										<a href="https://www.linkedin.com/in/sajal-agarwal-46a9593b/" style="margin-right:20px" target="_blank">
											<img src="/TMS2/assets/img/in.png" width="32" height="32" alt="logo">
										</a>
										<a href="https://twitter.com/sajalag5391?s=09" style="margin-left:20px" target="_blank">
											<img src="/TMS2/assets/img/tw.png" width="32" height="32" alt="logo">
										</a>
									</mat-card-content>
								</mat-card>
							</div>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
		<div fxFlex="40%" fxLayoutAlign=" stretch">
			<mat-card style="padding: 0; margin: 0; width:100%;">
				<mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
					<h4>Requirements</h4>
				</mat-card-header>
				<mat-card-content style="padding: 5px;">
					<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center" style="padding:0;background-color: transparent">
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
									justify-content: center;
									align-items: center; padding:10px 0 10px 0;">
							<mat-card class="team-card">
								<mat-card-header>
									<div mat-card-avatar class="team-header-image-7"></div>
									<mat-card-title style="text-align: left">Shim JongHyun</mat-card-title>
									<mat-card-subtitle style="text-align: left">Group Manager</mat-card-subtitle>
								</mat-card-header>
							</mat-card>
						</div>
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
									justify-content: center;
									align-items: center; padding:10px 0 10px 0;">
							<mat-card class="team-card">
								<mat-card-header>
									<div mat-card-avatar class="team-header-image-8"></div>
									<mat-card-title style="text-align: left">Jaehyuk Kim</mat-card-title>
									<mat-card-subtitle style="text-align: left">Technical Leader</mat-card-subtitle>
								</mat-card-header>
							</mat-card>
						</div>
					</div>
					<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center" style="padding:0;background-color: transparent">
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
										justify-content: center;
										align-items: center; padding:10px 0 10px 0;">
							<mat-card class="team-card">
								<mat-card-header>
									<div mat-card-avatar class="team-header-image-9"></div>
									<mat-card-title style="text-align: left">Pratyush Acharya</mat-card-title>
									<mat-card-subtitle style="text-align: left">Officer</mat-card-subtitle>
								</mat-card-header>
							</mat-card>
						</div>
						<div fxFlex="45%" fxLayoutAlign=" stretch" style=" background-color:transparent; display: flex;
										justify-content: center;
										align-items: center; padding:10px 0 10px 0;visibility: hidden;">
							<mat-card class="team-card">
								<mat-card-header>
									<div mat-card-avatar class="team-header-image-5"></div>
									<mat-card-title style="text-align: left">Vishwa Kolkar</mat-card-title>
									<mat-card-subtitle style="text-align: left">Systems Analyst</mat-card-subtitle>
								</mat-card-header>
							</mat-card>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>

	<h4 style="position: relative; top:10px; bottom:10px;">Built with
		<span style="color: red; font-size: 1.4em"> &hearts;</span> at LGSI</h4>

</div>