<div class="main">
  <mat-card class="login-card" flex="50">
    <img mat-card-image src="/TMS2/assets/img/log.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2 class="title" style="text-align:center;">Login with your AD account</h2>
      <form class="login-form">
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Username" type="text" [formControl]="emailFormControl" [(ngModel)]="userData.username" >
          <mat-error *ngIf="emailFormControl.hasError('text') && !emailFormControl.hasError('required')">
            Please enter your Username
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Username is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput placeholder="password" type="password" [formControl]="passwordFormControl" [(ngModel)]="userData.password">
          <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
            Please enter password
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </form>
      <button mat-raised-button color="accent" (click)="onLogin()" >Login</button>
    </mat-card-content>
  </mat-card>
</div>