.projectReport-container{
    overflow: auto;
}

:host ::ng-deep .mat-select-placeholder {
    color: #c3003c;
}

:host ::ng-deep .mat-header-row {
    padding-left: 0px!important;
}

:host ::ng-deep .mat-header-cell {
    text-align: center!important;
    border: 1px solid white;
    display: block!important;
    color: #c3003c;
    background-color: rgba(0,0,0,.12);
}

:host ::ng-deep .mat-cell {
    display: block!important;
}

:host ::ng-deep .mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0px;
}

:host ::ng-deep mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0px;
}

:host ::ng-deep .mat-row {
    padding: 0px!important;
}

.cell-customized {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    border-right: 1px solid rgba(0,0,0,.12);
}
.cell-customized {
    min-height: 48px;
}
.cell-customized {
    border-bottom-color: rgba(0,0,0,.12);
}
.cell-customized:last-child{
    border-bottom: none;
}
