<mat-toolbar style="height: 100px;background-color:#C3003C;" class="mat-elevation-z6">
    <!-- <button class="hamburger mat-button" mat-button="" (click)="sidenav.toggle()" matTooltip="Side menu" *ngIf="window.showSidenav">
                <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24">
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>
                </mat-icon>
            </button> -->
    <a routerLink="../dash/logeffort">
        <img matListAvatar src="/TMS2/assets/img/lg.png" width="100" height="100" alt="logo" style="padding-top: 6px;">
    </a>
    <h1 class="mat-display-1" style="width:150px; display: inline-block; font-size:1.8em;color:white; margin-left: 10px; text-align: left">TMS</h1>
    <div style="color:white;">
        <a mat-button [matMenuTriggerFor]="menu" style="font-size: 16px">My Work
            <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item routerLink="../dash/logeffort">Log Effort</button>
            <button mat-menu-item routerLink="../dash/approval" *ngIf="employee.empinfo.emp_role == ROLES.APPROVER || employee.empinfo.emp_role == ROLES.ADMIN">Approval</button>
            <button mat-menu-item routerLink="../dash/my-project-list">My Project List</button>
        </mat-menu>
        <a mat-button [matMenuTriggerFor]="reportMenu" style="font-size: 16px">Reports
            <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #reportMenu="matMenu" [overlapTrigger]="false">
            <!-- <button mat-menu-item routerLink="../reports/my-report">My Report</button> -->
            <!-- <button mat-menu-item routerLink="../dash/approval" *ngIf="employee.empinfo.emp_role == ROLES.APPROVER || employee.empinfo.emp_role == ROLES.ADMIN">Approval</button>
                        <button mat-menu-item routerLink="../dash/my-project-list">My Project List</button> -->
        </mat-menu>
        <a mat-button [matMenuTriggerFor]="adminmenu" style="font-size: 16px" *ngIf="employee.empinfo.emp_role == ROLES.ADMIN">Admin
            <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #adminmenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item routerLink="./project-status">Project Status</button>
            <button mat-menu-item routerLink="./job-task-list">Job Task List</button>
        </mat-menu>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>