<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center" style="background-color:transparent; margin-top:40px;">
	<div fxFlex="40%" fxLayoutAlign=" stretch">
		<mat-card style="padding: 0; width:100%;">
			<mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
				<h4>Task List</h4>
				<mat-form-field appearance="standard" style="position: absolute; right:100px; top:4px">
					<mat-icon matSuffix>search</mat-icon>
					<input matInput [(ngModel)]="searchText" autocomplete="off">
				</mat-form-field>
				<button mat-stroked-button style="position: absolute; right: 4px; top: 15px; color: #C3003C " (click)="addNew()" class="save">Add</button>
			</mat-card-header>

			<mat-card-content style="padding: 5px;">
				<ul style="display:flex; flex-wrap: wrap; list-style: none;">
					<li *ngFor="let task of (searchText ? (tasks | filter : searchText) : (tasks)) " style="padding: 4px;">
						<mat-card style="height: 30px; display: flex;
											justify-content: center;
											align-items: center; padding: 4px;" (click)="selectTask(task)" [ngClass]="{'selected': task.selected}" [style.width.px]="( task.task_name.split('').length >= 13 ? auto : 100)">
							<mat-card-header style="margin: 0px;">
								<mat-card-title style="margin: 0px; font-size: 1em; display: block;"> {{task.task_name}} </mat-card-title>
							</mat-card-header>
						</mat-card>
					</li>
				</ul>
			</mat-card-content>

			<!-- <mat-card-actions style="text-align: right;">
				<button mat-stroked-button style="position: absolute; right: 15px; bottom: 5px;  color: #C3003C " (click)="addNew()" class="save">Add New Project</button>
			</mat-card-actions> -->
		</mat-card>
	</div>
	<div fxFlex="40%" fxLayoutAlign=" stretch" *ngIf="addNewShow">
		<mat-card style="padding: 0; width:100%;">
			<mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
				<h4>Add new task</h4>
			</mat-card-header>
			<mat-card-content style="padding: 5px;">
				<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="padding: 5px;">
					<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
						display: flex;
						justify-content: left;
						align-items: center; padding:10px;">
						<mat-form-field style="width: 100%">
							<input matInput [(ngModel)]="addTask.task_name" placeholder="Task Name">
						</mat-form-field>
					</div>
					<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
						display: flex;
						justify-content: left;
						align-items: center; padding:10px;">
						<mat-form-field style="width: 100%">
							<mat-select placeholder="Task Type" [(value)]="addTask.task_type">
								<mat-option value="common">common</mat-option>
								<mat-option value="project">project</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
						display: flex;
						justify-content: left;
						align-items: center; padding:10px;">
						<mat-form-field style="width: 100%">
							<input matInput [(ngModel)]="addTask.task_code" placeholder="Task Code">
						</mat-form-field>
					</div>
				</div>

				<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="padding: 5px;">
					<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
							display: flex;
							justify-content: left;
							align-items: center; padding:10px;">
						<mat-form-field style="width: 100%">
							<input matInput [(ngModel)]="addTask.original_eng" placeholder="Original Eng">
						</mat-form-field>
					</div>
					<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
							display: flex;
							justify-content: left;
							align-items: center; padding:10px;">
						<mat-form-field style="width: 100%">
							<input matInput [(ngModel)]="addTask.original_kor" placeholder="Original Kor">
						</mat-form-field>
					</div>
					<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
							display: flex;
							justify-content: left;
							align-items: center; padding:10px;">
						<mat-form-field style="width: 100%">
							<input matInput [(ngModel)]="addTask.description" placeholder="Description" >
						</mat-form-field>
					</div>
				</div>

				<mat-card-actions style="text-align: right; margin-right: 25px; margin-left: 0px">
					<button mat-raised-button style="background-color:rgba(0,0,0,.04);color:red;">
						Cancel
					</button>
					<button mat-raised-button style="background-color:rgba(0,0,0,.04);color: green" (click)="addNewTask()">
						<!-- #3f51B5 -->
						Add
					</button>
				</mat-card-actions>
			</mat-card-content>
		</mat-card>
	</div>
	<div fxFlex="40%" fxLayoutAlign=" stretch" *ngIf="detailsShow">
			<mat-card style="padding: 0; margin: 0; width:100%;">
				<mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
					<h4>{{detailsHeader}}</h4>
					<button mat-stroked-button style="position: absolute; right: 4px; top: 15px; color: #C3003C" (click)="enableEdit()" class="save"
					 [disabled]="showEditOptions == true">Edit</button>
				</mat-card-header>
				<mat-card-content style="padding: 5px;">
					<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="padding: 5px;">
						<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
									display: flex;
									justify-content: left;
									align-items: center; padding:10px;">
							<mat-form-field style="width: 100%">
								<input matInput [(ngModel)]="selectedTask.task_name" placeholder="Task Name" disabled>
							</mat-form-field>
						</div>
						<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
									display: flex;
									justify-content: left;
									align-items: center; padding:10px;">
							<mat-form-field style="width: 100%">
								<mat-select placeholder="Task Type" [(value)]="selectedTask.task_type" disabled>
									<mat-option value="common" >common</mat-option>
									<mat-option value="project">project</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
									display: flex;
									justify-content: left;
									align-items: center; padding:10px;">
							<mat-form-field style="width: 100%">
								<input matInput [(ngModel)]="selectedTask.task_code" placeholder="Task Code" disabled>
							</mat-form-field>
						</div>
					</div>
					<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="padding: 5px;">
						<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
									display: flex;
									justify-content: left;
									align-items: center; padding:10px;">
							<mat-form-field style="width: 100%">
								<input matInput [(ngModel)]="selectedTask.original_eng" placeholder="Original Eng" [disabled]="!showEditOptions">
							</mat-form-field>
						</div>	
						<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
									display: flex;
									justify-content: left;
									align-items: center; padding:10px;">
							<mat-form-field style="width: 100%">
								<input matInput [(ngModel)]="selectedTask.original_kor" placeholder="Original Kor" [disabled]="!showEditOptions">
							</mat-form-field>
						</div>						
						<div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
									display: flex;
									justify-content: left;
									align-items: center; padding:10px;">
							<mat-form-field style="width: 100%">
								<input matInput [(ngModel)]="selectedTask.description" placeholder="Description" [disabled]="!showEditOptions">
							</mat-form-field>
						</div>
					</div>

					<mat-card-actions style="text-align: right; margin-right: 25px; margin-left: 0px" *ngIf="showEditOptions">
						<button mat-raised-button style="background-color:rgba(0,0,0,.04);color:red;" (click)="saveTask('cancel', selectedTask)">
							Cancel
						</button>
						<button mat-raised-button style="background-color:rgba(0,0,0,.04);color: green" (click)="saveTask('save', selectedTask)">
							<!-- #3f51B5 -->
							Save
						</button>
					</mat-card-actions>
				</mat-card-content>
			</mat-card>
		</div>
</div>